### Import / Config

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import dotenv_values

c_pg = dotenv_values("cred-pg.txt")

# None = unbegrenzt
pd.set_option("display.max_rows", 50)
pd.set_option("display.max_columns", None)

In [ ]:
engine = create_engine(
    f'postgresql+psycopg://{c_pg["user"]}:{c_pg["password"]}@{c_pg["host"]}/{c_pg["dbname"]}', 
    connect_args = {
        'options': '-c search_path=${user},ugeobln,ugm,uinsta,umisc,umobility,usozmed,public', 
        'keepalives_idle': 120
    },
    pool_size=1, 
    max_overflow=0,
    execution_options={ 'isolation_level': 'AUTOCOMMIT' }
)

### Basis

In [ ]:
sql = """
SELECT sales_month, kind_of_business, sales
FROM retail_sales
ORDER BY 1
;
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
df

In [ ]:
sql = """
select kind_of_business, count(*) as anz
FROM retail_sales
group by 1
ORDER BY 1
;
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
df

### Mit Lösung

#### 1

In [ ]:
sql = """
select sales_month, sales
from retail_sales
where kind_of_business = 'Retail and food services sales, total'
order by sales_month
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
# df

In [ ]:
df.set_index('sales_month').plot(
    figsize=(10,6),
    ylabel="Dollar (million)", 
    legend=True
)

#### 2

In [ ]:
sql = """
select date_part('year',sales_month) as sales_year, sum(sales) as sales
from retail_sales
where kind_of_business = 'Retail and food services sales, total'
group by 1
order by 1
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
# df

In [ ]:
df.set_index('sales_year').plot(
    figsize=(10,6),
    ylabel="Dollar (million)", 
    legend=True
)

#### 3

In [ ]:
sql = """
select 
  date_part('year',sales_month) as sales_year,
  kind_of_business,
  sum(sales) as sales
from retail_sales
where kind_of_business in ('Book stores','Sporting goods stores','Hobby, toy, and game stores')
group by 1,2
order by 1,2
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
# df

In [ ]:
df.pivot(index='sales_year', columns='kind_of_business', values='sales').plot(
    figsize=(10,6),
    ylabel="sales, Dollar (million)"
)

#### 4

In [ ]:
sql = """
select 
  cast(date_part('year',sales_month) as integer) as sales_year,
  kind_of_business,
  sum(sales) as sales
from retail_sales
where kind_of_business in ('Men''s clothing stores','Women''s clothing stores')
group by 1,2
order by 1
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
# df

In [ ]:
df.pivot(index='sales_year', columns='kind_of_business', values='sales').plot.bar(
    figsize=(10,6),
    ylabel="sales, Dollar (million)", 
)

### Ohne Lösung

#### 5

In [ ]:
sql = """
select 'dummy' as dummy
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
# df

In [ ]:
# Visualization

#### 6

In [ ]:
sql = """
select 'dummy' as dummy
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
# df

In [ ]:
# Visualization

#### 7

In [ ]:
sql = """
select 'dummy' as dummy
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
df

In [ ]:
# Visualization

#### 8

In [ ]:
sql = """
select 'dummy' as dummy
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
df

In [ ]:
# Visualization

#### 9

In [ ]:
sql = """
select 'dummy' as dummy
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
df

In [ ]:
# Visualization

#### 10

In [ ]:
sql = """
select 'dummy' as dummy
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
df

In [ ]:
# Visualization

#### 11

In [ ]:
sql = """
select 'dummy' as dummy
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
df

In [ ]:
# Visualization

#### 12

In [ ]:
sql = """
select 'dummy' as dummy
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
df

In [ ]:
# Visualization

#### 13

In [ ]:
sql = """
select 'dummy' as dummy
"""
with engine.connect() as con:
    df = pd.read_sql_query(text(sql), con)
df