In [1]:
# !uv pip install -U psycopg[binary,pool] pandas dotenv

# Init

## Import

In [2]:
import psycopg

from dotenv import dotenv_values
conninfo = " ".join([f'{c[0]}={c[1]}' for c in dotenv_values("cred-pg.txt").items()])

## Functions

### Newline Printer

In [3]:
def el():
    print("")

### Print Separator

In [4]:
def sep():
    el()
    print(f"{'*' * 10}")
    el()

### Indentation Printer

In [5]:
def pil(il, msg): print(f"{" " * il}-- {msg}")
def p1(msg): pil(IL1, msg)
def p2(msg): pil(IL2, msg)
def p3(msg): pil(IL3, msg)
def p4(msg): pil(IL4, msg)

## Database

### Table Contents

In [6]:
def tc(conninfo, tn, ordering):
    with psycopg.connect(conninfo) as con:
        records = con.execute(f"select * from {tn} order by {ordering}").fetchall()
    return records

def show_tc(conninfo, tn, ordering, msg):
    print(f"{msg}: {tc(conninfo, tn, ordering)}")

### ClassValue

In [7]:
def create_cv(conninfo):
    sql1 = "drop table if exists cv"
    sql2 = """ 
    create table cv (
      cls integer not null,
      val integer not null
    )
    """
    with psycopg.connect(conninfo) as con:
        con.execute(sql1) 
        con.execute(sql2) 

def reset_cv(conninfo):
    sql1 = "delete from cv"
    sql2 = "insert into cv values (1, 10), (1, 20), (2, 100), (2, 200)"
    with psycopg.connect(conninfo) as con:
        con.execute(sql1) 
        con.execute(sql2)

In [8]:
TBL_CV = "cv"
ORD_CV = "cls, val"

MSG_BEFORE_CV = "Before (cls, val)"
MSG_AFTER_CV =  "After  (cls, val)"

CV_ALL_SEL = "select * from cv order by cls, val"
CV_INS_2 = "insert into cv select 2, sum(val) from cv where cls=1"
CV_INS_1 = "insert into cv select 1, sum(val) from cv where cls=2"

### Konto

In [9]:
def create_konto(conninfo):
    sql1 = "drop table if exists konto"
    sql2 = """ 
    create table konto (
      kid integer not null primary key,
      betrag integer not null
    )
    """
    with psycopg.connect(conninfo) as con:
        con.execute(sql1) 
        con.execute(sql2) 

def reset1_konto(conninfo):
    reset_konto(conninfo, "(100, 2), (200, 6)")
    
def reset2_konto(conninfo):
    reset_konto(conninfo, "(100, 80), (200, 50)")
    
def reset_konto(conninfo, values):
    sql1 = "delete from konto"
    sql2 = f"insert into konto values {values}"
    with psycopg.connect(conninfo) as con:
        con.execute(sql1) 
        con.execute(sql2)

In [10]:
TBL_KTO = "konto"
ORD_KTO = "kid"

MSG_BEFORE_KTO = "Before (kid, betrag)"
MSG_AFTER_KTO =  "After  (kid, betrag)"

KTO_ALL_SEL = "select * from konto order by kid"
KTO_ALL_SEL_FOR_UPDATE = "select * from konto order by kid for update"
KTO_100_SEL = "select * from konto where kid=100"
KTO_200_SEL = "select * from konto where kid=200"
KTO_100_UPD_3 = "update konto set betrag = 3 where kid=100"
KTO_100_UPD_MINUS10 = "update konto set betrag = -10 where kid=100"
KTO_100_UPD_WITHDRAW90 = "update konto set betrag = betrag -90 where kid=100"
KTO_200_UPD_0 = "update konto set betrag = 0 where kid=200"
KTO_200_UPD_WITHDRAW50 = "update konto set betrag = betrag -50 where kid=200"
KTO_200_UPD_7 = "update konto set betrag = 7 where kid=200"
KTO_300_INS_1 = "insert into konto values (300, 1)"

### Personal

In [11]:
def create_personal(conninfo):
    sql1 = "drop table if exists personal"
    sql2 = """ 
    create table personal (
      pid integer not null primary key,
      gehalt integer not null
    )
    """
    with psycopg.connect(conninfo) as con:
        con.execute(sql1) 
        con.execute(sql2) 

def reset_personal(conninfo):
    sql1 = "delete from personal"
    sql2 = "insert into personal values (100, 40000), (200, 50000)"
    with psycopg.connect(conninfo) as con:
        con.execute(sql1) 
        con.execute(sql2)

In [12]:
TBL_PERS = "personal"
ORD_PERS = "pid"

MSG_BEFORE_PERS = "Before (pid, gehalt)"
MSG_AFTER_PERS =  "After  (pid, gehalt)"

PERS_ALL_SEL = "select * from personal order by pid"
PERS_100_SEL = "select * from personal where pid=100"
PERS_200_SEL = "select * from personal where pid=200"
PERS_ALL_SEL_FOR_SHARE = "select * from personal order by pid for share"
PERS_ALL_SEL_FOR_UPDATE = "select * from personal order by pid for update"
PERS_100_UPD_41000 = "update personal set gehalt=41000 where pid=100"
PERS_100_UPD_ADD1000 = "update personal set gehalt= gehalt + 1000 where pid=100"
PERS_100_UPD_42000 = "update personal set gehalt=42000 where pid=100"
PERS_100_UPD_ADD2000 = "update personal set gehalt= gehalt + 2000 where pid=100"
PERS_200_UPD_51000 = "update personal set gehalt=51000 where pid=200"
PERS_100_DEL = "delete from personal where pid=100"

### Website

In [13]:
def create_website(conninfo):
    sql1 = "drop table if exists website"
    sql2 = """ 
    create table website (
      wsid integer not null primary key,
      hits integer not null
    )
    """
    with psycopg.connect(conninfo) as con:
        con.execute(sql1) 
        con.execute(sql2) 

def reset_website(conninfo):
    sql1 = "delete from website"
    sql2 = "insert into website values (100, 9), (200, 10)"
    with psycopg.connect(conninfo) as con:
        con.execute(sql1) 
        con.execute(sql2)

In [14]:
TBL_WS = "website"
ORD_WS = "wsid"

MSG_BEFORE_WS = "Before (wsid, hits)"
MSG_AFTER_WS =  "After  (wsid, hits)"

WS_ALL_SEL = "select * from website order by wsid"
WS_ALL_UPD = "update website set hits = hits + 1"
WS_HITS10_DEL = "delete from website where hits = 10"

# Transaction Code

## Trans

In [15]:
class Trans:
    def __init__(self, tname, il):
        self.tname = tname
        self.ind = " " * il
        self.pre = f"{self.ind}{self.tname}:"
        self.exc_occured = False


    def start(self, conninfo, iso):
        print(f"{self.pre} START: {iso.name}")
        try:
            self.conn = psycopg.Connection.connect(conninfo)
            self.conn.set_isolation_level(iso)
            return self
        except Exception as e:
            print(f"Error connecting to the database: {e}")
            raise
        
    def c(self, comment):
        print(f"{self.ind}-- {comment}")

    def execute(self, sql, sel="", print_pre=False, print_post=True):
        if self.exc_occured: return
        try:
            if print_pre: 
                cur = self.conn.execute(sel)
                print(f"{self.pre}{cur.fetchall()}")    
            print(f"{self.pre} {sql}")
            self.conn.execute(sql)
            if print_post: 
                cur = self.conn.execute(sel)
                print(f"{self.pre}{cur.fetchall()}")    
        except Exception as e:
            print(f"{self.pre} {type(e).__name__}")
            self.exc_occured = True

    def commit_and_close(self):
        if self.exc_occured: return
        try:
            self.conn.commit()
            self.close()
            print(f"{self.pre} commit and close")
        except Exception as e:
            print(f"{self.pre} {type(e).__name__}")  
            
    def rollback_and_close(self):
        if self.exc_occured: return
        try:
            self.conn.rollback()
            self.close()
            print(f"{self.pre} rollback and close")
        except Exception as e:
            print(f"{self.pre} {type(e).__name__}")
            
    def close(self):
        if self.exc_occured: return
        try:
            self.conn.close()
        except Exception as e:
            print(f"Error closing connection: {e}")
        self.conn = None 
        self.cursor = None

# Config

## Globals

In [16]:
RC, RR, SER = psycopg.IsolationLevel.READ_COMMITTED, psycopg.IsolationLevel.REPEATABLE_READ, psycopg.IsolationLevel.SERIALIZABLE
IL1, IL2, IL3, IL4 = 0, 4, 8, 12
TREAD, T1, T2, T3, T4 = "TRead", "T1", "T2", "T3", "T4"

## Create Tables

In [17]:
create_cv(conninfo)
create_konto(conninfo)
create_personal(conninfo)
create_website(conninfo)

# Benutzung Transaktionscode

## Commit, Rolllback

In [18]:
reset_personal(conninfo)
show_tc(conninfo, TBL_PERS, ORD_PERS, MSG_BEFORE_PERS)
el()
t1 = Trans(T1, IL1).start(conninfo, RC)
t1.execute(PERS_100_UPD_41000, PERS_ALL_SEL, print_post=False)
t1.commit_and_close()
el()
show_tc(conninfo, TBL_PERS, ORD_PERS, MSG_AFTER_PERS)

sep()

reset_personal(conninfo)
show_tc(conninfo, TBL_PERS, ORD_PERS, MSG_BEFORE_PERS)
el()
t1 = Trans(T1, IL1).start(conninfo, RC)
t1.execute(PERS_100_UPD_41000, PERS_ALL_SEL, print_post=False)
t1.rollback_and_close()
el()
show_tc(conninfo, TBL_PERS, ORD_PERS, MSG_AFTER_PERS)

Before (pid, gehalt): [(100, 40000), (200, 50000)]

T1: START: READ_COMMITTED
T1: update personal set gehalt=41000 where pid=100
T1: commit and close

After  (pid, gehalt): [(100, 41000), (200, 50000)]

**********

Before (pid, gehalt): [(100, 40000), (200, 50000)]

T1: START: READ_COMMITTED
T1: update personal set gehalt=41000 where pid=100
T1: rollback and close

After  (pid, gehalt): [(100, 40000), (200, 50000)]

# Szenarien (ohne Update-Konflikte)

## Snapshot - Read Committed

## Snapshot - Repeatble Read

## Lost Update

## Write Skew

## Serialisierungsfehler - Daten√ºberschneidung